language: julia
os:
  - linux
  - osx
julia:
  - 0.7
  - nightly

env:
  - JULIA_PROJECT="@."

notifications:
  email: false

after_success:
  # push coverage results to Coveralls
  - julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
  # push coverage results to Codecov
  - julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
