language: julia
os:
  - linux
  - osx
julia:
  - 0.7
  - nightly

matrix:
  allow_failures:
    - julia: 0.7

notifications:
  email: false

after_success:
  # push coverage results to Coveralls
  - julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
  # push coverage results to Codecov
  - julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
